/* Universal Styles */

:root {
	font: 16px / 1 sans-serif;
	font-family: 'Roboto', sans-serif;
}

html {
	height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
	text-align: center;
}

/* Bio Section */

.bio {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-image: url(/images/space.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.bio img {
	margin: 3rem;
	border-radius: 5%;
}

.textbox {
	border: solid;
	margin: 5rem 1rem;
	background-color: gray;
	width: 55%;
	height: 40%;
}

/* Bottom Nav */

nav img {
}

nav {
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

nav li {
}

nav a {
}

nav a:hover {
}

/* Main */

main {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

/* About Section */

.about {
}

.img-holder {
	background-image: url(/images/react.png);
}

/* Connect Section */

/* Footer */
