/* Universal Styles */

:root {
	font: 16px / 1 sans-serif;
	font-family: 'Roboto', sans-serif;
}

html {
	height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
	text-align: center;
}

/* Header */

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
}

	.textbox h2 {
		display: none;
		font-size: 1rem;
	}
	
	.title {
		display: none;
		font-size: 1rem;
		text-align: center;
	}
	
	.location {
		display: none;
	}


.bio {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	background-image: url(/images/space.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	padding: 3rem;
}

.bio img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 2rem 3rem;
	border-radius: 5%;
}

.textbox {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	border-radius: 10%;
	margin: 2rem;
	background-color: gray;
	opacity: 0.7;
	width: 75%;
	height: 5%;
	padding: 0.25rem;
}

.small {
	font-size: 0.5rem;
	margin: 1rem;
}

@media only screen and (max-width: 1024px){
  
	
	@media only screen and (max-width: 640px) {
		header {
			display: flex;
			flex-direction: column;
			justify-content: center;
			flex-wrap: wrap;
		}

			.textbox h2 {
				display: none;
				font-size: 1rem;
			}
			
			.title {
				display: none;
				font-size: 1rem;
				text-align: center;
			}
			
			.location {
				display: none;
			}

		}
 
	}


/* Games */

ul.games {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	list-style: none;
	background-color: rgba(18, 18, 31, 0.75);
	margin: 1rem;
	padding: 0.77rem;
}

ul.games li img:hover {
	backface-visibility: hidden;
	animation: left;
}

/* Supporting Section */

.supporting-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	width: 100%;
}

#react-holder {
	background-image: url('/images/react.png');
	background-size: 100%;
	background-position-y: 50%;
	height: 3rem;
}

.react {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	border: 6rem solid rgb(14, 14, 39);
	border-bottom: 2rem;
	background-color: whitesmoke;
	margin-left: 1rem;
	width: 100%;
}

.greek-react {
	font-size: 0.77rem;
	padding: 1rem;
	text-align: left;
}

.button {
	background-color: rgb(37, 109, 175);
	border: 0;
	border-radius: 10%;
	color: whitesmoke;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	padding: 0.50rem;
	margin-right: 0.85rem;
	float: right;
}

.greek-fizz {
	font-size: 0.77rem;
	padding: 1rem;
	text-align: left;
	
}

/*.fizz.button {
	position: absolute;
	background-size: -75vw;
	background-color: rgb(37, 109, 175);
	border: 0;
	border-radius: 10%;
	color: whitesmoke;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	padding: 0.5rem;
	margin-right: 0.75rem; */
}

#fizz-holder {
	background-image: url('/images/code.png');
	background-size: 100%;
	height: 3rem;
}

.fizz {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	border: 6rem solid rgb(14, 14, 39);
	border-bottom: 1rem;
	background-color: whitesmoke;
	margin-left: 1rem;
	width: 100%;
}

.date {
	font-size: 0.7rem;
}

/* Connect Section */

.connect {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 3rem solid rgb(14, 14, 39);
	background-color: rgb(11, 11, 32);
	width: 102%;
}

.connect h1 {
	margin-right: 3rem;
	margin-left: 3rem;
	color: whitesmoke;
}

.social-media {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	list-style: none;
	margin-right: 3rem;
}

ul.social-media {
	display: flex;
	justify-content: space-around;
}

/* Footer */
footer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

footer p {
	font-size: 0.7rem;
	color: whitesmoke;
	border: 1px solid black;
	align-content: center;
}

.screen {
	visibility: hidden;
}

.truncated-logo {
	font-size: 2.5rem;
}
