/* Universal Styles */

:root {
	font: 16px / 1 sans-serif;
	font-family: 'Roboto', sans-serif;
}

html {
	height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
	text-align: center;
}

/* Main Section */

.bio {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-image: url(/images/space.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;

	padding: 3rem;
}

.bio img {
	margin: 2rem;
	border-radius: 5%;
}

.textbox {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	border-radius: 10%;
	margin: 0.5rem;
	background-color: gray;
	opacity: 0.9;
	height: 55%;
}

.title {
	text-align: center;
}

.location {
	display: none;
}

/* Games */

ul.games {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	list-style: none;
	background-color: rgba(18, 18, 31, 0.75);
	margin: 1rem;
}

ul.games li {
}

nav a {
}

nav a:hover {
	color: ;
}

/* Main Container */

.react-holder {
	background-image: url('/images/react.png');
	background-size: 100%;
	height: 3rem;
	background-position-y: 50%;
}

.react {
	border: 2rem solid rgb(14, 14, 39);

	background-color: whitesmoke;
	width: 100%;
	margin: 1rem;
}
.button {
	background-color: rgb(60, 115, 233);
	border: 0;
	border-radius: 5%;
	color: whitesmoke;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	float: right;
	position: 60vw;
	margin-right: 0.75rem;
	padding: 0.33rem;
}
.supporting {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.fizz-holder {
	background-image: url('/images/code.png');
	background-size: 100%;
	height: 3rem;
}
.react p {
	font-size: 0.7rem;
}
.fizz {
	border: 1px solid transparent;
	border-radius: 5%;
	background-color: whitesmoke;
	width: 100%;
	margin: 1rem;
}
.fizz p {
	font-size: 0.7rem;
}
.date {
	font-size: 0.7rem;
}
/* Connect Section */

.connect {
	border: 1px solid black;
}
/* Footer */
footer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
footer p {
	font-size: 0.7rem;
	border: 1px solid black;
	align-content: center;
}
.large {
	display: none;
}
